@page "/addproducts/{Id:int}"
@using IAutomotiveProductsApi.Models
@inject IWebAPI WebAPI
@rendermode InteractiveServer
@inject HttpClient Http



<h3>Add Products</h3>
<EditForm FormName="AddTaskForm" Model="@productModel" OnValidSubmit="SaveProduct">
    <InputText @bind-Value=productModel.Title />
    <InputText @bind-Value=productModel.Description />
    <button type="submit">Add</button>
</EditForm>

<h3>AddTask</h3>

@code {
    private ProductModel productModel { get; set; } = new();

    private async void SaveProduct()
    {
        var newProduct = new ProductModel();

        newProduct.Title = productModel.Title;
        newProduct.Description = productModel.Description;
        newProduct.IsCompleted = false;
        newProduct.CreatedAt = DateTime.Now;
        newProduct.UpdatedAt = DateTime.Now;
        newProduct.Id = 0;

        try
        {
            // await WebApi.AddTodos(newTodo);
            var stringJson = new StringContent(
                System.Text.Json.JsonSerializer.Serialize(newProduct),
                System.Text.Encoding.UTF8,
                "application/json"
            );

            var response = await Http.PostAsync("https://localhost:7224/addproducts", stringJson);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}
