@page "/product/{Id:int}"
@using AutomotiveProducts.Entities
@inject IWebAPI WebAPI
@rendermode InteractiveServer

<h3>Product Details</h3>

<EditForm FormName="UpdateTaskForm" Model="@product" OnValidSubmit="SaveProduct">
    <InputText @bind-Value=product.Title />
    <InputText @bind-Value=product.Category />
    <InputText @bind-Value=product.Description />
    <InputNumber @bind-Value=product.CostPrice />
    <InputNumber @bind-Value=product.SalePrice />
    <InputText @bind-Value=product.Supplier />
    <InputNumber @bind-Value=product.SupplierRef />
    <InputNumber @bind-Value=product.Quantity />
    <button type="submit">Edit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Products product { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        product = await WebAPI.GetProduct();
    }

    private async void SaveProduct()
    {
        var result = await WebAPI.Updateproduct(product);
    }
}

