@page "/product/{Id:int}"
@using AutomotiveProducts.Entities
@inject IWebAPI WebAPI
@rendermode InteractiveServer

<h3>Product Details</h3>

<EditForm FormName="UpdateTaskForm" Model="@product" OnValidSubmit="EditProduct">
    <label>Title</label>
    <InputText @bind-Value=product.Title />
    <label>Category</label>
    <InputText @bind-Value=product.Category />
    <label>Description</label>
    <InputText @bind-Value=product.Description />
    <label>CostPrice</label>
    <InputNumber @bind-Value=product.CostPrice />
    <label>SalePrice</label>
    <InputNumber @bind-Value=product.SalePrice />
    <label>Supplier</label>
    <InputText @bind-Value=product.Supplier />
    <label>SupplierRef</label>
    <InputNumber @bind-Value=product.SupplierRef />
    <label>Quantity</label>
    <InputNumber @bind-Value=product.Quantity />
    <button type="submit">Edit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Products product { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        product = await WebAPI.GetProduct(Id);
    }

    private async void EditProduct()
    {
        var result = await WebAPI.Updateproduct(product);
    }
}

