@page "/productN/{Id:int}"
@using IAutomotiveProductsApi.Models
@using ApiConsumer.Components.Shared
@inject IWebAPI WebAPI
@rendermode InteractiveServer


<h3>ProductsDetails</h3>

<EditForm FormName="UpdateTaskForm" Model="@Product" OnValidSubmit="SaveTask">
    <InputText @bind-Value=Product.Title />
    <InputText @bind-Value=Product.Description />
    <button type="submit">Save</button>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }

    private Product Product { get; set; } = new();

    protected override async Task OnParametersSetAsync()

    {
        Product = await WebAPI.GetProduct(Id);
    }

    private async Task SaveTask()

    {
        var result = await WebAPI.SaveProducts(Id);
    }
}