@page "/product/{Id:int}"
@using IAutomotiveProductsApi.Models
@inject IWebAPI WebAPI
@rendermode InteractiveServer

<h3>Product Details</h3>

<EditForm FormName="UpdateTaskForm" Model="@productModel" OnValidSubmit="SaveProduct">
    <InputText @bind-Value=productModel.Title />
    <InputText @bind-Value=productModel.Description />
    <button type="submit">Edit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private ProductModel productModel { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        productModel = await WebAPI.GetProduct(Id);
    }

    private async void SaveProduct()
    {
        var result = await WebAPI.UpdateTodo(productModel);
    }
}
