@page "/stockmovements/{Id:int}"
@page "/stockmovements"
@* @using AutomotiveProducts.Entities *@
@inject IWebAPI WebAPI
@rendermode InteractiveServer

<h3>Stock Movements</h3>

@* Como é que fazemos para receber o produto já criado em vez de termos que inserir os dados do mesmo, 
uma vez que queremos verificar a quantidade do produto já existente na BD *@

<EditForm Model="@stocks" OnValidSubmit="EditStock" FormName="stockForm">
    <div class="form-group">
        <label>Category</label>
        <InputText @bind-Value="stocks.Category" class="form-control" />

        <label>Quantity Received</label>
        <InputText @bind-Value="stocks.QuantityReceived" class="form-control" />

        <label>Quantity Sent</label>
        <InputText @bind-Value="stocks.QuantitySent" class="form-control" />

        <!-- Blue Save button -->
        <button type="submit" class="btn btn-primary" style="background-color: #007bff;">Save</button>
    </div>

</EditForm>

@code 
    {
        [Parameter]
        public long? Id { get; set; }

        private Stock stocks { get; set; } = new();

        protected override async Task OnParametersSetAsync()
        {
            if (Id is not null)
            stocks = await WebAPI.GetStock(Id.Value);
        }

        private async void EditStock()
        {
            var result = await WebAPI.UpdateStock(stocks);
        }
    }
